<div class="content">
  <div>
    <h1>バイク新規登録</h1>
  </div>
</div>

<%= form_for @bike, url: admin_bikes_path do |f| %>
  <% if @bike.errors.any? %>
    <div id="error_explanation">
      <h3><%= @bike.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
        <% @bike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table">
      <tr>
        <td>
          <%= attachment_image_tag @bike, :bike_image, :fill, 300, 300, fallback: 'no-image.jpg', size: '300x300' %>
          <%= f.attachment_field :bike_image, class: 'image-prev' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :バイク名 %>
        </td>
        <td>
          <%= f.text_field :bike_name, class: "col-xs-12" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :バイクタイプ名 %>
        </td>
        <td>
          <%= f.text_field :bike_type_name, class: "col-xs-12" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :排気量 %>
        </td>
        <td>
          <%= f.text_field :displacement, class: "col-xs-12" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :バイク説明文 %>
        </td>
        <td>
          <%= f.text_area :bike_sentence, class: "col-xs-12" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :メーカー名 %>
        </td>
        <td>
          <%= f.collection_select :manufacturer_id, Manufacturer.where(status:'有効'), :id, :manufacturer_name, {} %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :バイクステータス %>
        </td>
        <td>
          <%= f.select :bike_status, [['有効'],['無効']], {} %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit '新規登録' %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
