<h1>バイク新規登録</h1>
<% if @bike.errors.any? %>
  <div id="error_explanation">
    <h3><%= @bike.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
      <% @bike.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @bike, url: admin_bikes_path do |f| %>
  <%= attachment_image_tag @bike, :bike_image, :fill, 300, 300, fallback: 'no-image.jpg', size: '300x300' %>
  <%= f.attachment_field :bike_image, class: 'image-prev' %>

  <%= f.label :バイク名 %>
  <%= f.text_field :bike_name %>

  <%= f.label :バイクタイプ名 %>
  <%= f.text_field :bike_type_name %>

  <%= f.label :排気量 %>
  <%= f.text_field :displacement %>

  <%= f.label :バイク説明文 %>
  <%= f.text_area :bike_sentence %>

  <%= f.label :メーカー名 %>
  <%= f.collection_select :manufacturer_id, Manufacturer.where(status:'有効'), :id, :manufacturer_name, {} %>

  <%= f.label :バイクステータス %>
  <%= f.select :bike_status, [['有効'],['無効']], {} %>

  <%= f.submit '新規登録' %>

<% end %>
