<div class="content">
  <div>
    <h1><i class="fa fa-blog"></i>投稿編集</h1>
  </div>
</div>

<%= form_for @post, url: customer_post_path do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h3><%= @post.errors.count %> error prohibited this obj from being saved:</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-8 col-xs-offset-2">
    <table class="table">
      <tr>
        <td>
          <%= attachment_image_tag @post, :post_image, :fill, 300, 300, fallback: 'no-image.jpg', size: '300x300' %>
          <%= f.attachment_field :post_image, class: 'image-prev' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :タイトル %><br>
          <%= f.text_field :post_title, class: "col-xs-12" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :投稿内容 %><br>
          <%= f.text_area :post_sentence, class: "col-xs-12" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.submit %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
