<div class="content">
  <div>
    <h1><i class="fa fa-blog"></i>投稿詳細</h1>
  </div>
</div>

<div class="col-xs-6 col-xs-offset-3">
  <table class="table">
    <tr>
      <td>
        <%= attachment_image_tag @post, :post_image, :fill, 300, 300, fallback: 'no-image.jpg', size: '300x300' %>
      </td>
    </tr>
    <tr>
      <td>アカウント名&emsp;&emsp;<%= @post.user.account_name %></td>
    </tr>
    <tr>
      <td>タイトル&emsp;&emsp;<%= @post.post_title %></td>
    </tr>
    <tr>
      <td>投稿内容&emsp;&emsp;<%= @post.post_sentence %></td>
    </tr>
    <tr>
      <td id="favorite_<%= @post.id %>">
        <%= render partial: 'customer/favorites/favorite', locals: {post: @post} %>
      </td>
    </tr>
    <tr>
      <td>
        コメント数：<%= @post.post_comments.count %>
      </td>
    </tr>
    <tr>
      <% if @post.user == current_user %>
        <td>
        <%= link_to "編集する", edit_customer_post_path(@post), class: "btn btn-primary" %>
        <%= link_to "削除", customer_post_path(@post), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger destroy_post_#{@post.id}" %>
        </td>
      <% end %>
    </tr>
  </table>
</div>

<div class="col-xs-6 col-xs-offset-3">
  <table class="table">
    <h1>コメント</h1>
    <% @post.post_comments.each do |post_comment| %>
      <tbody>
        <tr>
          <td>アカウント名&emsp;&emsp;<%= @post.user.account_name %></td>
        </tr>
        <tr>
          <td>内容&emsp;&emsp;<%= post_comment.comment %></td>
        </tr>
        <tr>
          <% if post_comment.user == current_user %>
            <td>
              <%= link_to "削除", customer_post_post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger " %>
            </td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>


<div class="col-sm-6 col-xs-offset-3">
  <%= form_for [:customer, @post, @post_comment] do |f| %>
    <div>
      <%= f.text_field :comment, class: "form-control",placeholder: "コメントをここに" %>
    </div>
    <%= f.submit '送信' %>
  <% end %>
</div>
